.banner--right-block {
	align-items: center;
	justify-content: space-between;
	width: var(--main-block-width);
	padding-left: rem(24);
	@include mq($from: mobile){
		border-left: 1px solid black;
	}
	p {
		margin: 0;
	}
	@include mq($until: tablet){
		flex-wrap: wrap;
		img {
			margin-top: 1em;
			max-width: 100%;
		}
	}
	@include mq($until: mobile){
		width: 100%;
		border-top: 1px solid black;
	}
}
