footer .icon-wh-logo {
	--color1: grey;
	--color2: var(--hs-grey);
	width: var(--sidebar-width);
	padding-right: 3em;
	min-width: 10em;
	@include mq($until: tablet){
		padding-right: rem(24);
	}
	@include mq($until: mobile){
		width: 13em;
		margin-bottom: rem(24);
	}
}