aside .column--content {
	> p {
		margin-bottom: 0;
	}
	> * {
		+ * {
			margin-top: 1em;
		}
		> p:first-child {
			margin-top: 0;
		}
		> p {
			margin-bottom: 0;
		}
	}
}

.column--content-grey {
	background: var(--light-grey);
	padding: rem(10) rem(11);
	* + * {
		margin-top: 1em;
	}
	a {
		color: var(--hs-red);
	}
}