.text-button {
	display: inline-block;
	background-color: var(--hs-red--light);
	padding: .4em .5em;
	color: white;
	text-decoration: none;
	position: relative;
	&::before {
		content: " ";
		background-color: var(--hs-red--light);
		position: absolute;
		left: calc(100% - 1em);
		top: 0;
		height: 100%;
		width: 2em;
		transform: skew(-20deg);
		z-index: -1;
	}
}