.wide-btn {
	display: block;
	background-color: var(--hs-red);
	padding: rem(14);
	color: white;
	font-size: rem(18);
	text-decoration: none;
	p.column-addon-title + & {
		margin-top: 0;
	}
	@at-root button#{&} {
		width: 100%;
    border: none;
		text-align: left;
		&:focus {
			outline: none;
		}
	}
}

.wide-btn--grey {
	background-color: var(--hs-grey);
}