.page-layout {
	margin-top: -2em;
	flex-wrap: wrap;
	h3 {
		color: var(--hs-red);
	}
	aside {
		width: var(--sidebar-width);
		@include mq($until: tablet) {
			width: 100%;
			order: 2;
			margin-top: 2em;
		}
	}
	section.page-content {
		display: flex;
		flex-wrap: wrap;
		@include mq($from: tablet) {
			width: var(--main-block-width);
		}
		@include mq($until: tablet) {
			width: 100%;
		}
	}
	article {
		img {
			max-width: 100%;
		}
		@include mq($from: tablet) {
			margin-left: 1.5em;
		}
		&:not(:first-child) {
			margin-top: 2em;
		}
		&.halfColumn {
			@include mq($from: tablet) {
				width: calc(50% - 1.5em);
			}
			@include mq($from: mobile) {
				&:first-child, &:first-child + .halfColumn {
					margin-top: 0;
				}
			}
			@include mq($from: mobile, $until: tablet) {
				width: calc(50% - 1em);
			}
		}
		@include mq($until: mobile) {
			width: 100%;
		}
	}
}

@include mq($from: mobile, $until: tablet) {
	.halfColumn,
	.fullColumn + .halfColumn {
		margin-left: 0;
		& + .halfColumn {
			margin-left: 2em;
			& + .halfColumn {
				margin-left: 0;
				& + .halfColumn {
					margin-left: 2em;
				}
			}
		}
	}
}
