.nav--link-parent {
	position: relative;
	ul {
		display: none;
		position: absolute;
		top: 100%;
		left: 0;
		min-width: 100%;
		width: 10em;
    font-size: .9em;
		flex-direction: column;
		a {
			display: block;
			padding: .4em .6em;
			background-color: grey;
		}
	}
	&:last-child ul {
		left: auto;
		right: 0;
	}
	button {
		background-color: lightblue;
		border: none;
		padding-left: .7em;
		padding-right: .7em;
		&:hover,
		&:focus {
			background-color: lightseagreen;
		}
		&:focus {
			outline: none;
		}
	}
	@include mq($until: tablet) {
		button {
			display: none;
		}
	}
	@include mq($from: tablet) {
		button:hover + ul, 
		button:focus + ul {
			display: flex;
		}
	}
	li:nth-child(odd) a {
		background: lightcoral;
	}
}
.nav--link-no-parent {}
.nav--top-level {}